body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#controls {
  position: absolute;
  top: 60px; /* etwas unter dem Score */
  left: 20px;
  color: white;
  font-family: Arial, sans-serif;
}

#controls select {
  margin-left: 5px;
  padding: 4px;
  font-size: 14px;
}
